body {
  font-size: 14px;
}
a {
  text-decoration: none;
}
p {
  margin: 0;
}
.hidden {
  visibility: hidden;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}
.clearfix:after {
  clear: both;
}
/* =============================================== table =============================================== */

table {
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}
.table {
  width: 100%;
  margin-bottom: 20px;
}
.table th,
.table td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}
.table th {
  font-weight: bold;
}
.table th.text-right,
.table td.text-right {
  text-align: right;
}
.table th.text-center,
.table td.text-center {
  text-align: center;
}
.table thead th {
  vertical-align: bottom;
  padding: 6px 8px;
}
.table thead tr th,
.table thead tr td {
  border-top: 0;
}
.table .table {
  background-color: #ffffff;
}
.table-condensed th,
.table-condensed td {
  padding: 4px 5px;
}
.table-noborder th,
.table-noborder td {
  border-top: 0;
}
.table-bordered {
  border: 1px solid #dddddd;
  border-collapse: separate;
  *border-collapse: collapse;
  border-left: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.table-bordered thead tr th,
.table-bordered tbody tr th,
.table-bordered tbody tr td {
  border-left: 1px solid #dddddd;
}
.table-text-center thead tr th,
.table-text-center tbody tr th,
.table-text-center tbody tr td,
.table-text-center tfoot tr td {
  text-align: center;
}
.table-text-center thead tr th.text-left,
.table-text-center tbody tr th.text-left,
.table-text-center tbody tr td.text-left,
.table-text-center tfoot tr td.text-left {
  text-align: left;
}
.table-text-center thead tr th.text-right,
.table-text-center tbody tr th.text-right,
.table-text-center tbody tr td.text-right,
.table-text-center tfoot tr td.text-right {
  text-align: right;
}
.table-striped tbody > tr:nth-child(odd) > td,
.table-striped tbody > tr:nth-child(odd) > th {
  background-color: #fbfbfb;
}
.table-hover tbody tr:hover > td,
.table-hover tbody tr:hover > th {
  background-color: #f5f5f5;
}
.table-form tbody th {
  font-weight: normal;
  text-align: right;
  vertical-align: middle;
}
.table tbody tr.success td {
  background-color: #dff0d8;
}
.table tbody tr.error td {
  background-color: #f2dede;
}
.table tbody tr.warning td {
  background-color: #fcf8e3;
}
.table tbody tr.info td {
  background-color: #e1f5e1;
}
.table-hover tbody tr.success:hover td {
  background-color: #d0e9c6;
}
.table-hover tbody tr.error:hover td {
  background-color: #ebcccc;
}
.table-hover tbody tr.warning:hover td {
  background-color: #faf2cc;
}
.table-hover tbody tr.info:hover td {
  background-color: #d7f4d7;
}
/*******************************
             Icon
*******************************/

@font-face {
  font-family: 'Icons';
  src: url("../fonts/icons.eot");
  src: url("../fonts/icons.eot?#iefix") format('embedded-opentype'), url("../fonts/icons.woff2") format('woff'), url("../fonts/icons.woff") format('woff'), url("../fonts/icons.ttf") format('truetype'), url("../fonts/icons.svg#icons") format('svg');
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-decoration: inherit;
  text-transform: none;
}
i.icon {
  display: inline-block;
  opacity: 1;
  margin: 0em 0.25rem 0em 0em;
  width: 1.23em;
  height: 0.9em;
  font-family: 'Icons';
  font-style: normal;
  line-height: 1;
  font-weight: normal;
  text-decoration: inherit;
  text-align: center;
  speak: none;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
i.icon:before {
  background: none !important;
}
i.icon,
i.icons {
  font-size: 1em
}
i.huge.icon,
i.huge.icons {
  line-height: 1;
  vertical-align: middle;
  font-size: 4em
}
i.big.icon,
i.big.icons {
  line-height: 1;
  vertical-align: middle;
  font-size: 2em
}
i.icons {
  display: inline-block;
  position: relative;
  line-height: 1;
  vertical-align: middle;
}
i.icons .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  margin: 0
}
i.icons .icon:first-child {
  position: static;
  width: auto;
  height: auto;
  vertical-align: top;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  margin-right: .25rem
}
i.icons .corner.icon {
  top: auto;
  left: auto;
  right: 0;
  bottom: 0;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  font-size: .45em;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff
}
i.icons .inverted.corner.icon {
  text-shadow: -1px -1px 0 #1b1c1d, 1px -1px 0 #1b1c1d, -1px 1px 0 #1b1c1d, 1px 1px 0 #1b1c1d
}
/*******************************
             Types
*******************************/

i.icon.loading {
  height: 1em;
  -webkit-animation: icon-loading 2s linear infinite;
  animation: icon-loading 2s linear infinite;
}
@-webkit-keyframes icon-loading {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes icon-loading {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
i.icon.download:before {
  content: "\f019";
}
i.icon.wizard:before {
  content: "\f0d0";
}
i.icon.refresh:before {
  content: "\f021";
}
i.icon.sun:before {
  content: "\f185";
}
/* pages */

#tinybox {
  width: 500px;
  margin: 50px auto;
  background-color: #fff;
  border: 1px solid #d2d2d2;
  box-shadow: 0 0 5px #c6c6c6;
  border-radius: 5px;
  padding: 20px;
  overflow: hidden;
  font-size: 14px;
}
#tinybox header {
  padding: 10px;
  margin: -20px -20px 20px;
  background-color: #303a40;
}
#tinybox header a {
  display: block;
  font-size: 15px;
  color: #fff;
}
#tinybox header a i.icons {
  color: #fa0;
  margin-right: .5em;
}
#tinybox header a sup {
  font-size: 8px;
  top: -10px;
  margin-left: 6px;
}
#tinybox section {
  line-height: 2em;
  margin-bottom: 20px;
}
#tinybox section .file-fields {
  float: left;
  padding: 20px;
  width: 150px;
  height: 195px;
  position: relative;
  background-color: #fafafa;
}
#tinybox section .file-details {
  float: right;
  width: 280px;
}
#tinybox section .file-details h4 {
  margin: 0;
  padding: 0;
  line-height: 30px;
}
#tinybox section .file-details .table {
  margin-bottom: 0;
}
#tinybox section .file-fields i.icon {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -.5em;
  margin-left: -.5em;
}
#tinybox section .file-fields i.download {
  z-index: 1;
  font-size: 4em;
  opacity: .1;
}
#tinybox section .file-fields i.refresh {
  font-size: 4em;
  color: #ffaa00;
  display: none;
  z-index: 3;
}
#tinybox section .file-fields .file-field {
  position: relative;
  z-index: 2;
}
#tinybox .copyright {
  padding: 20px 0 0;
  border-top: 1px dotted #ccc;
  text-align: center;
  color: #999;
  font-size: 12px;
}
#history-list {
  width: 800px;
  margin: 0 auto;
}
/* the end */